.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: var(--nav-bg, #f5f5f5);
}

.title-bar {
  height: 40px; /* 推荐 32–40 */
  display: flex;
  justify-content: space-between;
}

.title-bar-left {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 8px;

    font-weight: 650;
    font-size: 14px;
    color: #1f1f1f;
}

.title-bar-right {
  display: flex;
  gap: 2px;

  -webkit-app-region: no-drag;
}

.app-body {
  display: flex;;
}

.app-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px;
  border-top-left-radius: 10px;
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  background: #ffffff;
}

.window-button {
  width: 48px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;

  background: transparent;
  border: none;
  border-radius: 0;

  cursor: default;
  user-select: none;
}

/* hover 状态（普通按钮） */
.window-button.is-hovered {
  background: #d4d4d4; /* ≈ neutral-300 */
}

/* danger hover（关闭按钮） */
.window-button.is-hovered.is-danger {
  background: #ef4444; /* ≈ red-500 */
  color: #fff;
}

.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
}